.logo {
    position: static;
    max-width: 100px;
    height: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4634EB;
    color: white;
    padding-top: 120px;
}

.header {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    gap: 20px;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #aaa;
    padding: 8px;
    text-align: center;
}

h1 {
    text-align: left;
    margin: 0;
}

h3 {
    text-align: right;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a, .pagination strong {
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pagination strong {
    background-color: #ddd;
    font-weight: bold;
}

.pagination a:hover {
    background-color: #f0f0f0;
}
